body
{
    background-color: chocolate;
    
}
h2
{
    text-align: center;


}
.cabala
{
    background: rgb(102, 7, 190);
    border-radius: 5px;
    border-color: crimson;
    width: 220px;
    height: 210px;
    margin: auto;
  
   
    
}
.caja
{
    background: rgb(58, 15, 139);
    overflow-y: scroll;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
    color: rgb(245, 132, 166);
    
}
.ni
{
    text-align: end;
    size: 10px;
    color: azure;
    font-style: italic;
    background: rgba(255, 51, 0, 0.534);
    
}
footer
{
    
    background: rgb(63, 52, 8);
    overflow-y: scroll;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}